@import "tailwindcss";




@layer utilities {
  .animate-in {
    animation-fill-mode: both;
  }

  .slide-in-from-top {
    animation-name: slideInFromTop;
  }

  .slide-in-from-bottom {
    animation-name: slideInFromBottom;
  }

  .duration-200 {
    animation-duration: 200ms;
  }

  .duration-300 {
    animation-duration: 300ms;
  }

  .duration-700 {
    animation-duration: 700ms;
  }

  .delay-100 {
    animation-delay:100ms ;
  }

  .delay-200 {
    animation-delay:200ms ;
  }

  .delay-300 {
    animation-delay:300ms ;
  }
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    trasnform: translateY(1rem);
  }

  to {
    opacity: 1;
    trasnform: translateY(0);
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    trasnform: translateY(-1rem);
  }

  to {
    opacity: 1;
    trasnform: translateY(0);
  }
}