@import "tailwindcss";




@layer utilities {
  .animate-in {
    animation-fill-mode: both;
  }

  .slide-in-from-top {
    animation-name: slideInFromTop;
  }

  .duration-200 {
    animation-duration: 200ms;
  }

  .duration-300 {
    animation-duration: 300ms;
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    trasnform: translateY(-1rem);
  }

  to {
    opacity: 1;
    trasnform: translateY(0);
  }
}